<?xml version="1.0" encoding="utf-8"?>
<!--
  ~ This file is part of Nhegatu, the e-Demoracia Client for Android.
  ~
  ~ Nhegatu is free software: you can redistribute it and/or modify
  ~ it under the terms of the GNU General Public License as published by
  ~ the Free Software Foundation, either version 3 of the License, or
  ~ (at your option) any later version.
  ~
  ~ Nhegatu is distributed in the hope that it will be useful,
  ~ but WITHOUT ANY WARRANTY; without even the implied warranty of
  ~ MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  ~ GNU General Public License for more details.
  ~
  ~ You should have received a copy of the GNU General Public License
  ~ along with Nhegatu.  If not, see <http://www.gnu.org/licenses/>.
  -->

<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="net.labhackercd.nhegatu">

    <uses-permission android:name="android.permission.AUTHENTICATE_ACCOUNTS" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.NETWORK" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name="net.labhackercd.nhegatu.EDMApplication"
        android:allowBackup="true"
        android:icon="@drawable/icon"
        tools:replace="android:icon"
        android:label="@string/app_name"
        android:theme="@style/Theme.GreenTheme">
        <activity
            android:name="net.labhackercd.nhegatu.ui.MainActivity">

            <!-- Launcher -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <!-- Groups -->
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="vnd.android.cursor.dir/vnd.edemocracia.group" />
            </intent-filter>

             <!-- Group Web URLs -->
            <intent-filter android:label="@string/app_name">
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="http"
                    android:host="edemocracia.camara.gov.br"
                    android:pathPrefix="/comunidades" />
                <data android:scheme="https"
                    android:host="edemocracia.camara.gov.br"
                    android:pathPrefix="/comunidades" />
            </intent-filter>

            <!-- Specific Groups -->
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="vnd.android.cursor.item/vnd.edemocracia.group" />
            </intent-filter>

            <!-- Specific Categories -->
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="vnd.android.cursor.item/vnd.edemocracia.category" />
            </intent-filter>

            <!-- Specific Threads -->
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="vnd.android.cursor.item/vnd.edemocracia.thread" />
            </intent-filter>

            <!-- Specific Messages -->
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="vnd.android.cursor.item/vnd.edemocracia.message" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.SignInActivity"
            android:label="@string/title_activity_sign_in"
            android:parentActivityName="net.labhackercd.nhegatu.ui.MainActivity"
            android:theme="@style/Theme.GreenTheme.NoActionBar"
            android:windowSoftInputMode="adjustResize|stateVisible" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="net.labhackercd.nhegatu.ui.MainActivity" />
        </activity>
        <activity
            android:name="net.labhackercd.nhegatu.ui.message.ComposeActivity"
            android:parentActivityName="net.labhackercd.nhegatu.ui.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="net.labhackercd.nhegatu.ui.MainActivity" />
        </activity>
        <activity
            android:name="net.labhackercd.nhegatu.ui.preference.PreferenceActivity"
            android:parentActivityName="net.labhackercd.nhegatu.ui.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="net.labhackercd.nhegatu.ui.MainActivity" />
        </activity>
        <service android:name=".account.AuthenticatorService">
            <intent-filter>
                <action android:name="android.accounts.AccountAuthenticator" />
            </intent-filter>
            <meta-data android:name="android.accounts.AccountAuthenticator"
                android:resource="@xml/authenticator" />
        </service>
        <service android:name="net.labhackercd.nhegatu.service.AddMessageService" />
        <meta-data android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="${fabricApiKey}" />
    </application>

</manifest>
